@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-gray: #fafafa;
    --theme-primary-color: #0055b8;
    --theme-text-color: rgba(0, 0, 0, .54);

}

body{
    overflow-x: hidden;
}

.text-primary:hover span {
    color: var(--theme-primary-color);
}

.show-accordion span, .show-accordion .menu-icon {
    color: var(--theme-primary-color);
}

html {
    font-size: 10px;
}

.h-main {
    height: calc(100vh - 64px);
}

.left .css-2dum1v-MuiDrawer-docked .MuiDrawer-paper, .css-1s04tii-MuiDrawer-docked .MuiDrawer-paper ,
.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper{
    margin-top: 6.4rem !important;
    background: var(--bg-gray) !important;
}

.css-t89xny-MuiDataGrid-columnHeaderTitle{
    @apply text-[12px]
}
.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-cellContent{
    @apply text-[14px]
}
.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-cell--textCenter{
    visibility: hidden;
}
.nth-child:nth-child(3),
.nth-child:nth-child(6){
    border-bottom: 1px solid #ccc;
}
